<!-- <ngb-carousel *ngIf="popularProductsData">
  <ng-template *ngFor="let item of popularProductsData" ngSlide>
    <div class="picsum-img-wrapper">
      <img
        class="product-header-image"
        [src]="item.image"
        alt="Random first image"
      />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel> -->

<!-- <div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <ng-container *ngFor="let item of popularProductsData">
      <div class="swiper-slide">
        <img [src]="item.image" alt="" />
        <h1>{{ item.name }}</h1>
      </div>
    </ng-container>
  </div>
  <div class="swiper-pagination"></div>
</div> -->

<ngb-carousel *ngIf="popularProductsData">
  <ng-template *ngFor="let item of popularProductsData" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="product-header-image"
        src="{{ item.image }}"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
  <h1>Trendy Products</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of trendyProductsData">
      <div class="product-item">
        <div class="product-image">
          <img
          src={{item.image}}
          alt=""
        />
        </div>

        <div class="product-details">
          <h6 class="name-head">{{ item.name }}</h6>

          <div class="product-price">
            <h6>Price: {{item.price}}</h6>
          </div>

          <div class="product-color">
            <h6>Color: {{item.color}}</h6>
          </div>

          <div class="product-footer">
            <a href="">View Details</a>
            <a href="">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
